In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df1 = pd.read_csv(r'C:\Users\fahiy\Documents\Springboard\Capstone\1588204754_Step_2\Step 2\updated_ski_data.csv')
df1.head()

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

In [3]:
path = r'C:\Users\fahiy\Documents\Springboard\Capstone\1588204754_Step_2\Step 2\updated_ski_data.csv'

In [4]:
print ("The current working directory is %s" %r'C:\Users\fahiy\Documents\Springboard\Capstone\1588204754_Step_2\Step 2\updated_ski_data.csv')

The current working directory is C:\Users\fahiy\Documents\Springboard\Capstone\1588204754_Step_2\Step 2\updated_ski_data.csv

In [6]:
%%bash
mkdir r'C:\Users\fahiy\Documents\Springboard\Capstone\1588204754_Step_2\Step 2\data'

Couldn't find program: 'bash'

In [8]:
os.getcwd()

'C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2'

In [10]:
os.mkdir('C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2\\data')

In [14]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'data',
 'GuidedCapstone_Step2HL (1).ipynb',
 'Untitled.ipynb',
 'updated_ski_data.csv']

In [15]:
os.mkdir('C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2\\figures')

In [16]:
os.mkdir('C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2\\models')

In [17]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'data',
 'figures',
 'GuidedCapstone_Step2HL (1).ipynb',
 'models',
 'Untitled.ipynb',
 'updated_ski_data.csv']

In [18]:
print(df1.columns)

Index(['Name', 'Region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'Runs', 'TerrainParks',
       'LongestRun_mi', 'SkiableTerrain_ac', 'Snow Making_ac',
       'daysOpenLastYear', 'yearsOpen', 'averageSnowfall', 'AdultWeekday',
       'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac'],
      dtype='object')

In [23]:
df1.dtypes

Name                  object
Region                object
state                 object
summit_elev            int64
vertical_drop          int64
base_elev              int64
trams                  int64
fastEight            float64
fastSixes              int64
fastQuads              int64
quad                   int64
triple                 int64
double                 int64
surface                int64
total_chairs           int64
Runs                 float64
TerrainParks         float64
LongestRun_mi        float64
SkiableTerrain_ac    float64
Snow Making_ac       float64
daysOpenLastYear     float64
yearsOpen            float64
averageSnowfall      float64
AdultWeekday         float64
AdultWeekend         float64
projectedDaysOpen    float64
NightSkiing_ac       float64
dtype: object

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               330 non-null    object
 1   Region             330 non-null    object
 2   state              330 non-null    object
 3   summit_elev        330 non-null    int64
 4   vertical_drop      330 non-null    int64
 5   base_elev          330 non-null    int64
 6   trams              330 non-null    int64
 7   fastEight          164 non-null    float64
 8   fastSixes          330 non-null    int64
 9   fastQuads          330 non-null    int64
 10  quad               330 non-null    int64
 11  triple             330 non-null    int64
 12  double             330 non-null    int64
 13  surface            330 non-null    int64
 14  total_chairs       330 non-null    int64
 15  Runs               326 non-null    float64
 16  TerrainParks       279 non-null    float64
 17  LongestRun_mi      325 non-null    float64
 18  SkiableTerrain_ac  327 non-null    float64
 19  Snow Making_ac     284 non-null    float64
 20  daysOpenLastYear   279 non-null    float64
 21  yearsOpen          329 non-null    float64
 22  averageSnowfall    316 non-null    float64
 23  AdultWeekday       276 non-null    float64
 24  AdultWeekend       279 non-null    float64
 25  projectedDaysOpen  283 non-null    float64
 26  NightSkiing_ac     187 non-null    float64
dtypes: float64(13), int64(11), object(3)
memory usage: 69.7+ KB

In [28]:
df1.nunique()

Name                 329
Region                38
state                 35
summit_elev          266
vertical_drop        193
base_elev            244
trams                  5
fastEight              2
fastSixes              7
fastQuads             14
quad                   7
triple                 9
double                10
surface               12
total_chairs          31
Runs                 110
TerrainParks          11
LongestRun_mi         42
SkiableTerrain_ac    193
Snow Making_ac       143
daysOpenLastYear     111
yearsOpen             72
averageSnowfall      107
AdultWeekday          83
AdultWeekend          81
projectedDaysOpen     90
NightSkiing_ac        78
dtype: int64

In [32]:
df1.nunique().value_counts(normalize=True).mul(100).round(1).astype(str)+'%'

193    7.4%
7      7.4%
31     3.7%
110    3.7%
2      3.7%
35     3.7%
11     3.7%
5      3.7%
38     3.7%
72     3.7%
329    3.7%
266    3.7%
12     3.7%
42     3.7%
14     3.7%
143    3.7%
81     3.7%
9      3.7%
83     3.7%
244    3.7%
111    3.7%
90     3.7%
10     3.7%
78     3.7%
107    3.7%
dtype: object

In [35]:
df1['Region'].unique()

array(['Alaska', 'Arizona', 'Northern California', 'Sierra Nevada',
       'Colorado', 'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Missouri', 'Montana', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'Ohio', 'Oregon',
       'Mt. Hood', 'Pennsylvania', 'Rhode Island', 'South Dakota',
       'Tennessee', 'Salt Lake City', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [40]:
df1.agg(['min','max']).T

                                min                            max
Name               49 Degrees North  Yosemite Ski & Snowboard Area
Region                       Alaska                        Wyoming
state                        Alaska                        Wyoming
summit_elev                     315                          13487
vertical_drop                    60                           4425
base_elev                        70                          10800
trams                             0                              4
fastEight                         0                              1
fastSixes                         0                              6
fastQuads                         0                             15
quad                              0                              8
triple                            0                              8
double                            0                             14
surface                           0                             15
total_chairs                      0                             41
Runs                              3                            341
TerrainParks                      1                             14
LongestRun_mi                     0                              6
SkiableTerrain_ac                 8                          26819
Snow Making_ac                    2                           3379
daysOpenLastYear                  3                            305
yearsOpen                         6                           2019
averageSnowfall                  18                            669
AdultWeekday                     15                            179
AdultWeekend                     17                            179
projectedDaysOpen                30                            305
NightSkiing_ac                    2                            650

In [43]:
df1.describe()

,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
count,330.000000,330.000000,330.000000,330.000000,164.000000,330.000000,330.000000,330.000000,330.00000,330.000000,...,325.000000,327.000000,284.000000,279.000000,329.000000,316.000000,276.000000,279.000000,283.000000,187.000000
mean,4591.818182,1215.427273,3374.000000,0.172727,0.006098,0.184848,1.018182,0.933333,1.50000,1.833333,...,1.433231,739.801223,174.873239,115.103943,63.656535,185.316456,57.916957,64.166810,120.053004,100.395722
std,3735.535934,947.864557,3117.121621,0.559946,0.078087,0.651685,2.198294,1.312245,1.61913,1.815028,...,1.156171,1816.167441,261.336125,35.063251,109.429928,136.356842,26.140126,24.554584,31.045963,105.169620
min,315.000000,60.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,8.000000,2.000000,3.000000,6.000000,18.000000,15.000000,17.000000,30.000000,2.000000
25%,1403.750000,461.250000,869.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,...,0.500000,85.000000,50.000000,97.000000,50.000000,69.000000,40.000000,47.000000,100.000000,40.000000
50%,3127.500000,964.500000,1561.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,...,1.000000,200.000000,100.000000,114.000000,58.000000,150.000000,50.000000,60.000000,120.000000,72.000000
75%,7806.000000,1800.000000,6325.250000,0.000000,0.000000,0.000000,1.000000,1.000000,2.00000,3.000000,...,2.000000,690.000000,200.500000,135.000000,69.000000,300.000000,71.000000,77.500000,139.500000,114.000000
max,13487.000000,4425.000000,10800.000000,4.000000,1.000000,6.000000,15.000000,8.000000,8.00000,14.000000,...,6.000000,26819.000000,3379.000000,305.000000,2019.000000,669.000000,179.000000,179.000000,305.000000,650.000000

In [45]:
#Print percent of each feature that is missing
nas=pd.DataFrame(df1.isnull().sum().sort_values(ascending=False)/len(df1),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                    percent
fastEight          0.503030
NightSkiing_ac     0.433333
AdultWeekday       0.163636
AdultWeekend       0.154545
daysOpenLastYear   0.154545
TerrainParks       0.154545
projectedDaysOpen  0.142424
Snow Making_ac     0.139394
averageSnowfall    0.042424
LongestRun_mi      0.015152
Runs               0.012121
SkiableTerrain_ac  0.009091
yearsOpen          0.003030

In [53]:
df1["sum_chairs"] = df1["trams"]+df1["fastEight"]+df1["fastSixes"]+df1["fastQuads"]+df1["quad"]+df1["triple"]+df1["double"]+df1["surface"]
print(df1)

                                  Name   Region    state  summit_elev  \
0                       Alyeska Resort   Alaska   Alaska         3939
1                  Eaglecrest Ski Area   Alaska   Alaska         2600
2                     Hilltop Ski Area   Alaska   Alaska         2090
3                     Arizona Snowbowl  Arizona  Arizona        11500
4                  Sunrise Park Resort  Arizona  Arizona        11100
..                                 ...      ...      ...          ...
325               Meadowlark Ski Lodge  Wyoming  Wyoming         9500
326          Sleeping Giant Ski Resort  Wyoming  Wyoming         7428
327                   Snow King Resort  Wyoming  Wyoming         7808
328  Snowy Range Ski & Recreation Area  Wyoming  Wyoming         9663
329                White Pine Ski Area  Wyoming  Wyoming         9500

     vertical_drop  base_elev  trams  fastEight  fastSixes  fastQuads  ...  \
0             2500        250      1        0.0          0          2  ...
1             1540       1200      0        0.0          0          0  ...
2              294       1796      0        0.0          0          0  ...
3             2300       9200      0        0.0          1          0  ...
4             1800       9200      0        NaN          0          1  ...
..             ...        ...    ...        ...        ...        ...  ...
325           1000       8500      0        NaN          0          0  ...
326            810       6619      0        0.0          0          0  ...
327           1571       6237      0        NaN          0          0  ...
328            990       8798      0        0.0          0          0  ...
329           1100       8400      0        NaN          0          0  ...

     SkiableTerrain_ac  Snow Making_ac  daysOpenLastYear  yearsOpen  \
0               1610.0           113.0             150.0       60.0
1                640.0            60.0              45.0       44.0
2                 30.0            30.0             150.0       36.0
3                777.0           104.0             122.0       81.0
4                800.0            80.0             115.0       49.0
..                 ...             ...               ...        ...
325              300.0             NaN               NaN        9.0
326              184.0            18.0              61.0       81.0
327              400.0           250.0             121.0       80.0
328               75.0            30.0             131.0       59.0
329              370.0             NaN               NaN       81.0

     averageSnowfall  AdultWeekday  AdultWeekend  projectedDaysOpen  \
0              669.0          65.0          85.0              150.0
1              350.0          47.0          53.0               90.0
2               69.0          30.0          34.0              152.0
3              260.0          89.0          89.0              122.0
4              250.0          74.0          78.0              104.0
..               ...           ...           ...                ...
325              NaN           NaN           NaN                NaN
326            310.0          42.0          42.0               77.0
327            300.0          59.0          59.0              123.0
328            250.0          49.0          49.0                NaN
329            150.0           NaN          49.0                NaN

     NightSkiing_ac  sum_chairs
0             550.0         7.0
1               NaN         4.0
2              30.0         3.0
3               NaN         8.0
4              80.0         NaN
..              ...         ...
325             NaN         NaN
326             NaN         3.0
327           110.0         NaN
328             NaN         5.0
329             NaN         NaN

[330 rows x 28 columns]

In [56]:
#difference between sum of all chairlift columns and toal_chairs column
difference_chairs = df1["total_chairs"]-df1["sum_chairs"]
print(difference_chairs)

0      0.0
1      0.0
2      0.0
3      0.0
4      NaN
      ...
325    NaN
326    0.0
327    NaN
328    0.0
329    NaN
Length: 330, dtype: float64

In [66]:
#Replace NaN in 'fastEight' with zero
df1[["fastEight"]] = df1[["fastEight"]].fillna(value= 0)
print(df1['fastEight'])

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
325    0.0
326    0.0
327    0.0
328    0.0
329    0.0
Name: fastEight, Length: 330, dtype: float64

In [67]:
#Replace NaN in 'NightSkiing_ac' column wiht zero
df1[["NightSkiing_ac"]] = df1[["NightSkiing_ac"]].fillna(value= 0)
print(df1['NightSkiing_ac'])

0      550.0
1        0.0
2       30.0
3        0.0
4       80.0
       ...
325      0.0
326      0.0
327    110.0
328      0.0
329      0.0
Name: NightSkiing_ac, Length: 330, dtype: float64

In [72]:
#Replace Nan's in 'AdultWeekday' with the mean value.
df1['AdultWeekday'].fillna((df1['AdultWeekday'].mean()), inplace=True)
print(df1['AdultWeekday'])

0      65.000000
1      47.000000
2      30.000000
3      89.000000
4      74.000000
         ...
325    57.916957
326    42.000000
327    59.000000
328    49.000000
329    57.916957
Name: AdultWeekday, Length: 330, dtype: float64

In [73]:
#Replace Nan's in 'AdultWeekend' with the mean value.
df1['AdultWeekend'].fillna((df1['AdultWeekend'].mean()), inplace=True)
print(df1['AdultWeekend'])

0      85.00000
1      53.00000
2      34.00000
3      89.00000
4      78.00000
         ...
325    64.16681
326    42.00000
327    59.00000
328    49.00000
329    49.00000
Name: AdultWeekend, Length: 330, dtype: float64

In [80]:
#Replace NaN's in 'Snow Making_ac' with zero
df1[['Snow Making_ac']]= df1[['Snow Making_ac']].fillna(value = 0)
print(df1['Snow Making_ac'])

0      113.0
1       60.0
2       30.0
3      104.0
4       80.0
       ...
325      0.0
326     18.0
327    250.0
328     30.0
329      0.0
Name: Snow Making_ac, Length: 330, dtype: float64

In [81]:
#Find which columns have null or no values
df1.isnull().sum()

Name                   0
Region                 0
state                  0
summit_elev            0
vertical_drop          0
base_elev              0
trams                  0
fastEight              0
fastSixes              0
fastQuads              0
quad                   0
triple                 0
double                 0
surface                0
total_chairs           0
Runs                   4
TerrainParks          51
LongestRun_mi          5
SkiableTerrain_ac      3
Snow Making_ac         0
daysOpenLastYear      51
yearsOpen              1
averageSnowfall       14
AdultWeekday           0
AdultWeekend           0
projectedDaysOpen     47
NightSkiing_ac         0
sum_chairs           166
fastEgiht              0
dtype: int64

In [91]:
df1[['TerrainParks']]= df1[['TerrainParks']].fillna(value = 0)
print(df1[['TerrainParks']])

0      2.0
1      1.0
2      1.0
3      4.0
4      2.0
      ...
325    1.0
326    1.0
327    2.0
328    2.0
329    0.0
Name: TerrainParks, Length: 330, dtype: float64

In [94]:
df1[['SkiableTerrain_ac']]= df1[['SkiableTerrain_ac']].fillna(value = 0)
print(df1['SkiableTerrain_ac'])

0      1610.0
1       640.0
2        30.0
3       777.0
4       800.0
        ...
325     300.0
326     184.0
327     400.0
328      75.0
329     370.0
Name: SkiableTerrain_ac, Length: 330, dtype: float64

In [92]:
df1[['daysOpenLastYear']]= df1[['daysOpenLastYear']].fillna(value = 0)
print(df1['daysOpenLastYear'])

0      150.0
1       45.0
2      150.0
3      122.0
4      115.0
       ...
325      0.0
326     61.0
327    121.0
328    131.0
329      0.0
Name: daysOpenLastYear, Length: 330, dtype: float64

In [98]:
df1[['yearsOpen']] = df1[['yearsOpen']].fillna(value = 0)
print(df1['yearsOpen'])

0      60.0
1      44.0
2      36.0
3      81.0
4      49.0
       ...
325     9.0
326    81.0
327    80.0
328    59.0
329    81.0
Name: yearsOpen, Length: 330, dtype: float64

In [99]:
df1[['projectedDaysOpen']] = df1[['projectedDaysOpen']].fillna(value = 0)
print(df1['projectedDaysOpen'])

0      150.0
1       90.0
2      152.0
3      122.0
4      104.0
       ...
325      0.0
326     77.0
327    123.0
328      0.0
329      0.0
Name: projectedDaysOpen, Length: 330, dtype: float64

In [107]:
df1['Runs'].fillna((df1['Runs'].mean()), inplace=True)
print(df1['Runs'])

0      76.0
1      36.0
2      13.0
3      55.0
4      65.0
       ...
325    14.0
326    48.0
327    32.0
328    33.0
329    25.0
Name: Runs, Length: 330, dtype: float64

In [106]:
df1['Runs'].fillna(df1['Runs].mean(), inplace=True)
print(df1['Runs'])

SyntaxError: EOL while scanning string literal (<ipython-input-106-576d244393e3>, line 1)

In [108]:
df1['LongestRun_mi'].fillna(df1['LongestRun_mi'].mean(), inplace = True)
print(df1['LongestRun_mi'])

0      1.0
1      2.0
2      1.0
3      2.0
4      1.2
      ...
325    1.5
326    1.0
327    1.0
328    0.7
329    0.4
Name: LongestRun_mi, Length: 330, dtype: float64

In [114]:
df1['averageSnowfall'].fillna(df1['averageSnowfall'].mean(), inplace = True)
print(df1['averageSnowfall'])

0      669.000000
1      350.000000
2       69.000000
3      260.000000
4      250.000000
          ...
325    185.316456
326    310.000000
327    300.000000
328    250.000000
329    150.000000
Name: averageSnowfall, Length: 330, dtype: float64

In [115]:
df1.isnull().sum()

Name                   0
Region                 0
state                  0
summit_elev            0
vertical_drop          0
base_elev              0
trams                  0
fastEight              0
fastSixes              0
fastQuads              0
quad                   0
triple                 0
double                 0
surface                0
total_chairs           0
Runs                   0
TerrainParks           0
LongestRun_mi          0
SkiableTerrain_ac      0
Snow Making_ac         0
daysOpenLastYear       0
yearsOpen              0
averageSnowfall        0
AdultWeekday           0
AdultWeekend           0
projectedDaysOpen      0
NightSkiing_ac         0
sum_chairs           166
fastEgiht              0
dtype: int64

In [117]:
#Finding duplicated rows
duplicateRowsDF = df1[df1.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Name, Region, state, summit_elev, vertical_drop, base_elev, trams, fastEight, fastSixes, fastQuads, quad, triple, double, surface, total_chairs, Runs, TerrainParks, LongestRun_mi, SkiableTerrain_ac, Snow Making_ac, daysOpenLastYear, yearsOpen, averageSnowfall, AdultWeekday, AdultWeekend, projectedDaysOpen, NightSkiing_ac, sum_chairs, fastEgiht]
Index: []

[0 rows x 29 columns]

In [119]:
df1.to_csv('C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2\\data\\step2_output.csv')

In [121]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'data',
 'figures',
 'GuidedCapstone_Step2HL (1).ipynb',
 'models',
 'Untitled.ipynb',
 'updated_ski_data.csv']

In [125]:
df1.to_csv('step2_output.csv')

In [123]:
os.chdir('C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2\\data')

In [126]:
os.getcwd()

'C:\\Users\\fahiy\\Documents\\Springboard\\Capstone\\1588204754_Step_2\\Step 2\\data'

In [127]:
os.listdir()

['step2_output.csv']